@for $i from 0 through 10 {
  .ml-#{$i} {
    margin-left: 0.210rem*$i !important;
  }
}

@for $i from 0 through 10 {
  .mb-#{$i} {
    margin-bottom: 0.210rem*$i !important;
  }
}

@for $i from 0 through 10 {
  .mr-#{$i} {
    margin-right: 0.210rem*$i !important;
  }
}

@for $i from 0 through 10 {
  .mt-#{$i} {
    margin-top: 0.25rem*$i !important;
  }
}

.m-0{
  margin: 0!important;
}

.ml-auto{
  margin-left: auto;
}
