.autocomplete-input{
    position: relative;
    z-index: 1001;
}

.autocomplete-results{
    position: relative;
    top: -30px;

    &__list{
        position: absolute;
        background-color: white;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        z-index: 1000;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    }

    &__list-item{
        padding: 1rem;
        

        &:nth-of-type(){
            border-bottom: 1px solid gray;
        }
        
        &:first-of-type{
            padding-top: calc(30px + 1rem);
        }
    }
}